.canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1002;
  pointer-events: none;
}

.canvas[data-active="true"] {
  pointer-events: auto;
  cursor: crosshair;
} 